<!DOCTYPE html>
<html lang="en">
    <head>
        {{>data}}
        {{>links}}
    </head>
    <body>
        {{>header}}
        <div id="flexContainer">
            <div class="profile">
                <img class="imageProfile" src="../img/{{img1}}" alt="Member profile picture">
                <div class="name">{{name1}}</div>
                <div class="position">{{pos1}}</div>
            </div>
            <div class="profile">
                <img class="imageProfile" src="../img/{{img2}}" alt="Member profile picture">
                <div class="name">{{name2}}</div>
                <div class="position">{{pos2}}</div>
            </div>
            <div class="profile">
                <img class="imageProfile" src="../img/{{img3}}" alt="Member profile picture">
                <div class="name">{{name3}}</div>
                <div class="position">{{pos3}}</div>
            </div>
            <div class="profile">
                <img class="imageProfile" src="../img/{{img4}}" alt="Member profile picture">
                <div class="name">{{name4}}</div>
                <div class="position">{{pos4}}</div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>